{% load static %}
<!Doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="apple-mobile-web-app-title" content="YH-资料">
    <title>YH-资料</title>
    
	<link rel="shortcut icon" href="{% static 'ziliao/img/favicon.ico' %}" mce_href="{% static 'ziliao/img/favicon.ico' %}" type="image/x-icon" >
    <link rel="apple-touch-icon" href="{% static 'ziliao/img/favicon.ico' %}"/>

    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" media="all" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" media="all" />
    <script src="{% static 'js/jQuery-3-4-1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    
    <link href="{% static 'ziliao/css/ziliao_index.css' %}" rel="stylesheet" type="text/css" media="all" />
</head>
<body id="ziliao_index">
    <header class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="logo"></h1>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-lg search">
                <input type="text" class="form-control" placeholder="搜索……" name="search" autocomplete="off">
                <div class="input-group-append">
                    <span class="input-group-text">@runoob.com</span>
                </div>
                </div>
            </div>
        </div>
    </header>    

<div class="container"></div>

    
    
</div>
<footer class="container">
</footer>
<script src="{% static 'ziliao/js/ziliao_index.js' %}"></script>

</body>
</html>